*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
}

.container{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:25px;
background:linear-gradient(135deg,#2563eb,#1e3a8a);
color:white;
}

h1{
font-size:48px;
}

p{
font-size:20px;
}

button{
padding:15px 40px;
border:none;
border-radius:8px;
background:#22c55e;
color:white;
font-size:18px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.05);
background:#16a34a;
}